<div class="content pure-u-1 pure-u-md-3-4">
  <div class="header">
    <h1>What is elsi?</h1>
    <br>
  </div>
  <p>
    Elsi (or l.c., for <span class="italic">locus communis</span>, "common place") is a digital commonplace book. It's a place to keep quotations and passages you may want to refer to later.
  </p>
  <h3>What's a commonplace book?</h3>
  <p>
    Commonplace books are places to record information and significant passages from your reading for future reference. They were most popular from the 17th through the 19th centuries. Over time, a commonplace book became less of an information reference book and more a means of collecting and responding to meaningful quotations and passages&mdash;and thus more a tool for intellectual development and a reflection of the keeper's journey as a reader.
  </p>
  <p>
      You can read more about the history of the commonplace book <a href="http://ocp.hul.harvard.edu/reading/commonplace.html" target="_blank">here</a>.
  </p>
  <h3>Why can't I just use my regular notekeeping app?</h3>
  <p>
    You can! You can use Evernote, or OneNote, or a blogging platform, or a physical notebook. Whatever works for you. I created this app because I tried those approaches, and none of them were exactly right for me. I wanted something minimalist, streamlined, accessible from the web, and separate from my other note-taking tools.
  </p>
  <h3>Can I share my collection and see other people's quotations?</h3>
  <p>
    There are a lot of great apps designed to share content on the web&mdash;I use some of them myself! That said, this is designed to be a space for personal reflection and meditation. At this point, sharing is not a feature, although that's open to change in the future.
  </p>
  <h3>How do I start?</h3>
  <p>
    Once you've signed up for an account, you can start adding to your collection. From the menu bar, click "Add a new passage" and type in or copy and paste your passage. 
    
  
    You can use either the title of the work (e.g., <span class="italic">Moby-Dick</span>) or a subject for the title. Add category tags (e.g., love, leadership) for your passage separated by commas.
   
  </p>
  <p>
    As you add more tags, the tag cloud on your "All entries" page will grow. 

    
    Add responses to the passage&mdash;as you continue to re-read and respond to your favorite entries, you'll see how your understanding of a certain passage changes over time.


    <a href="/signup">Sign up</a> for an account now. 
  </p>

</div>

