<div class="content pure-u-1 pure-u-md-3-4" >
  <div class="splash-container">
    <div class="splash">
      <h1 class="splash-head">elsi</h1>
      <p class="splash-subhead">
          A Digital Commonplace Book
      </p>

      <p class="pure-u-1-1">
        <%= link_to "About", about_path, class: "pure-button"  %>
   
        <% if !current_user %>
          <%= link_to 'Sign up', '/signup', class: "pure-button" %>
        <% end %>
      </p>
    </div>
  </div>

</div>