<div class="content pure-u-1 pure-u-md-3-4">
  <div class="header">
    <h1>Edit this entry</h1>
  </div>
      <%= render 'form' %>
    <%= link_to "Delete this entry", passage_path(@passage), method: :delete %>

</div>