html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: 'Roboto Slab', serif;
}

a:link, a:visited {
  text-decoration: none;
  color: #B378D3;
}

a:hover {
  color: DarkSeaGreen;
}

div#flash {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color: #E6005C;
}

p.show-passage {
  margin-bottom: 40px;
}

body {
  font-family: 'Roboto Slab', serif;
  color: #585656;
}

fieldset {
  border: none;
}

form {
  width: 60%;
  margin: 1em auto 0 auto;
  text-align: center;
}

form#new_passage {
  width: 100%;
}

/* Glyph, by Harry Roberts */
// https://css-tricks.com/examples/hrs/

hr.style-eight {
  padding: 0;
  border: none;
  border-top: medium double #333;
  border-color: Gainsboro;
  color: Gainsboro;
  text-align: center;
}

hr.style-eight:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}

div#login-status {
  margin-right: 20px;
  text-align: right;
}

img {
  margin: 20px auto;
  display: block;
  border: 1px solid #ccc;
}

.italic {
  font-style: italic;
}

.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

.navbar-form {
  width: 98%;
  text-align: right;
  margin-top: 20px;
}

.pure-control-group {
  text-align: left;
}

#search-button {
  height: 28px;

    i {
      vertical-align: text-top;
      color: #7D5494;
    }
}

textarea.styled {
  width: 60%;
  height: 300px;
  padding: 5px;
  overflow: scroll;
  border: 3px solid #cccccc;

    &#response {
      height: 150px;
    }
}